.main-container {
    background-color: #ffffff;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
  }

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
.board-title {
    margin: 0;
    font-size: 18px;
    flex-grow: 1;
    text-align: right;
    color: #000000;
    margin-right: 10px;
  }

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
      
.comment-profile {
    margin-right: 10px;
    }

.comment-author-info {
    display: flex;
    align-items: center;
    }
      
.comment-actions {
    display: flex;
    align-items: center;
    }
      
.comment-profile {
    margin-right: 10px;
    }